*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    row-gap: 1rem;
    flex-direction: column;
}
p{
    font-size: 1.5rem;
    margin-top: 5rem;
}
button, input{
    width: 15rem !important;
    text-align: center;
    height: 2rem !important;
}